@font-face {
    font-family: Pixel;
    src: url("../fonts/pixel.ttf");
}

*{
    margin:0px;
    padding:0px;
    z-index:0;
}
body{
    background-size: cover;
    width:100%;
    z-index:0;
    font-family: Pixel;
}

canvas{
    position: fixed;
}


h1{
    text-align: center;
}

::-webkit-scrollbar   {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    border: 1px rgb(5,230,5) double ;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar{
    background-color:black;
}
body::-webkit-scrollbar-thumb{
    border: 1px rgb(5,230,5)  double ;
    border-radius: 10px;
    background-color: rgb(2, 58, 2);

}
body::-webkit-scrollbar-corner  {background-color: black;  }
