@font-face {
    font-family: Pixel;
    src: url("../fonts/pixel.ttf");
}

*{
    margin:0px;
    padding:0px;
    z-index:0;
}
body{
    background-size: cover;
    width:100%;
    z-index:0;
    font-family: Pixel;
}

.cvet {
    color: rgb(24, 214, 24);
    font-size: 25px;
}

header {
    height:100vh;
    width: 150px;
    position: fixed;
    background: rgb(0, 0, 0);
    z-index: 30;
    border-right: 8px double rgb(5, 230, 5);
    border-left: 8px double rgb(5, 230, 5);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    
}
.header_image {
    width: 100px;
    height: 100px;
    margin: 0px auto;
}


.header_button:hover{
    background: rgb(8, 46, 3);
    color: rgb(5,230,5);
    border: 3px solid rgb(5,230,5);
    transition-property: background;
    transition: .2s;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
}

.header_image_home {
    background: url('../img/home-passive.jpg');
    background-size: cover;
}
.header_image_home:active {
    background: url('../img/home-active.jpg');
    background-size: cover;
}

.header_image_css {
    background: url('../img/css-passive.png');
    background-size: cover;
}
.header_image_css:active {
    background: url('../img/css-active.png');
    background-size: cover;
}

.header_image_info {
    background: url('../img/Info-active.png');
    background-size: cover;
}


.header_image_contacts {
    background: url('../img/Contacts-passive.png');
    background-size: cover;
}
.header_image_contacts:active {
    background: url('../img/Contacts-active.png');
    background-size: cover;
}

.header_page_title {
    font-size: 20px;
    color: rgb(5,230,5);
    margin: 0px auto;
    text-decoration: none;
    text-align: center;
}

.header_link {
    display: flex;
    flex-direction: column;
}

main {
    padding-top: 30px;
    padding-left: 25px;
    z-index: 2;
}

.info {
    border: 10px solid rgb(5,230,5);
    background: rgba(0, 0, 0, 0.74);
    margin-top: 2%;
    margin-left: 12%;
    margin-right:10%;
    margin-bottom: 3%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    position: inherit;
    width: auto;
    height:600px;
}

#info{
margin-bottom: 100px;
position: absolute;

}

canvas{
    position: fixed;

}
#allinfo{
margin-left: 140px;
}
h1{
text-align: center;    
}